.cart {
  background-color: #252525;
  border-bottom: 1px solid #252525;
  color: #fffef2;
  left: 0;
  max-height: 100vh;
  overflow-y: scroll;
  padding-right: 40px;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  transform: none;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: calc(100vw + 40px);
  z-index: 1300;

  @media (max-width: 639px) {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    z-index: 1600;
  }

  .cart_inner {
    width: 100vw;

    // CART PRODUCTS SECTION
    .cart_products {
      padding: 20px 0 20px 20px;

      @media (min-width: 1025px) {
        padding: 40px 40px 0;
      }
      @media (min-width: 640px) {
        padding: 34px 34px 0;
      }

      //   CART HEADER SECTION
      .cart_products_header {
        border-bottom: 2px solid rgba(255, 254, 242, 0.1);
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px 20px 15px 0;

        @media (min-width: 640px) {
          padding: 0 0 15px;
        }
        // Title
        .cart_products_title {
          font-size: 1.5rem;
          line-height: 1.2;
          font-family: 'Suisse', sans-serif;
          font-weight: 600;
          color: #bcbbb4;

          @media (min-width: 640px) {
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
            width: 41.66667%;
            -ms-flex-negative: 0;
            flex-shrink: 0;
          }
        }
        // Size
        .cart_products_size {
          font-size: 1.4rem;
          line-height: 1.4;
          font-family: 'Suisse', sans-serif;
          font-weight: 600;
          -ms-flex-preferred-size: auto;
          flex-basis: auto;
          width: 25%;
          color: #bcbbb4;

          @media (min-width: 640px) {
            line-height: 1.7;
          }
        }

        // Quantity
        .cart_products_quantity {
          font-size: 1.4rem;
          line-height: 1.4;
          font-family: 'Suisse', sans-serif;
          font-weight: 600;
          color: #bcbbb4;
          -ms-flex-positive: 1;
          flex-grow: 1;

          @media (min-width: 640px) {
            line-height: 1.7;
          }
        }

        .cart_products_btn {
          fill: #999;
          height: 18px;
          padding: 0 2px;
          width: 18px;

          @media (min-width: 640px) {
            position: relative;
            top: 5px;
          }

          button {
            background: transparent;
            border: 0;
            border-radius: 0;
            margin: 0;
          }
        }
      }

      .cart_products_list {
        list-style: none;
        margin: 0;
        padding: 0;

        .cart_products_list_item {
          // APPLY TO EACH PRODUCT
          //   border-bottom: 1px solid rgba(255, 254, 242, 0.1);

          @media (min-width: 640px) {
            -ms-flex-align: center;
            align-items: center;
            display: -ms-flexbox;
            display: flex;
            padding: 15px 0;
          }
        }
      }
    }
    // CART SUMMARY
    .cart_summary {
      @media (max-width: 639px) {
        display: flex;
        flex: 1 0 auto;
      }
      // MAIN
      .cart_summary_wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1;
        flex: 1;
        -ms-flex-direction: column;
        flex-direction: column;

        @media (min-width: 1025px) {
          padding: 30px 40px 40px;
        }
        @media (min-width: 640px) {
          padding: 34px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex: 1 0 auto;
          flex: 1 0 auto;
        }

        // PROMO SECTION
        .cart_summary_promo {
          border-bottom: 1px solid rgba(255, 254, 242, 0.1);
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: justify;
          justify-content: space-between;
          margin-left: 20px;
          padding: 10px 20px 30px 0;

          @media (min-width: 1025px) {
            margin-left: 66.66667% !important;
            padding: 0 0 25px;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
            width: 33.33333% !important;
          }
          @media (min-width: 640px) {
            margin-left: 50%;
            padding: 0 0 25px;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
            width: 50%;
          }

          .cart_summary_promo_btn {
            width: 100%;

            .cart_summary_promo_btn_wrapper {
              -ms-flex-align: center;
              align-items: center;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-pack: justify;
              justify-content: space-between;
              width: 100%;

              .cart_summary_promo_label {
                font-size: 1.5rem;
                line-height: 1.2;
                font-family: 'Suisse', sans-serif;
                font-weight: 600;
                color: #bcbbb4;
                transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
                margin: 0;
                padding: 0;
              }

              .cart_summary_promo_btn_icon_wrapper {
                .cart_summary_promo_btn_icon {
                  display: block;
                  height: 22px;
                  width: 22px;

                  .cart_summary_promo_btn_icon_circle {
                    fill: transparent;
                    stroke: #bcbbb4;
                    stroke-width: 3px;
                    transition: fill 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
                      stroke 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
                  }
                  .cart_summary_promo_btn_icon_poly {
                    fill: #999;
                    stroke: #999;
                    stroke-width: 2px;
                    transition: fill 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
                      stroke 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
                  }
                }
              }
            }
          }
        }
        // NOTICE SECTION
        .cart_summary_notice {
          font-family: 'Suisse', sans-serif;
          border-bottom-color: rgb(188, 187, 180);
          border-bottom-style: none;
          border-bottom-width: 0px;
          box-sizing: border-box;
          color: rgb(188, 187, 180);
          display: flex;
          font-size: 12px;
          justify-content: space-between;
          margin-top: auto;
          padding: 25px 20px;
          font-weight: 500;

          &:not(:last-child) {
            margin-bottom: 0px;
          }

          @media (min-width: 1025px) {
            margin-left: 66.66667% !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
            width: 33.33333% !important;
            font-size: 1.5rem;
            padding: 26px 0 0;
          }

          @media (min-width: 640px) {
            padding: 26px 0 0;
            margin-left: 50%;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
            width: 50%;
            font-size: 1.4rem;
          }

          span {
            box-sizing: border-box;
            color: rgb(188, 187, 180);
            font-family: 'Suisse', sans-serif;
            font-size: 15px;
          }
        }
        // SUBTOTAL SECTION
        .cart_summary_item {
          @media (min-width: 1025px) {
            margin-left: 66.66667% !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
            width: 33.33333% !important;
            font-size: 1.5rem;
            padding: 25px 20px;
            display: flex;
            justify-content: space-between;
          }

          @media (min-width: 640px) {
            margin-left: 50%;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
            width: 50%;
            padding: 25px 0;
            display: flex;
            justify-content: space-between;
          }

          .cart_summary_subtotal_label {
            @media (min-width: 640px) {
              font-size: 1.5rem;
              line-height: 1.2;
              font-family: 'Suisse', sans-serif;
              font-weight: 600;
              color: #bcbbb4;
              padding: 0;
              margin: 0;
            }
          }

          .cart_summary_subtotal {
            @media (min-width: 640px) {
              overflow-y: hidden;
              font-family: 'Suisse', sans-serif;
              font-weight: 500;
              font-size: 2.5rem;
              line-height: 1;
              color: #fffef2;
            }
          }
        }
        .cart_summary_row {
          @media (min-width: 640px) {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: justify;
            justify-content: space-between;
          }
          .cart_summary_shipping {
            @media (min-width: 640px) {
              flex-basis: auto;
              width: 50%;
              padding-right: 3em;
            }

            @media (min-width: 1025px) {
              flex-basis: auto;
              width: 33.33333% !important;
            }
            .cart_summary_shipping_notice {
              @media (min-width: 640px) {
                font-family: 'Suisse', sans-serif;
                font-size: 1.4rem;
                color: #bcbbb4;
                font-weight: 500;
              }
              @media (min-width: 1025px) {
                font-size: 1.5rem;
              }
            }
          }
          .cart_summary_checkout_wrapper {
            @media (min-width: 640px) {
              flex-basis: auto;
              width: 50%;
            }
            @media (min-width: 1025px) {
              flex-basis: auto;
              width: 33.33333% !important;
            }
            .cart_summary_checkout_btn {
              width: 100%;
              background-color: #eaeadf;
              margin-bottom: 20px;
              border: 1px solid rgba(51, 51, 51, 0.2);
              height: 60px;
              min-width: 210px;
              padding: 21px 23px;
              position: relative;
              transition: all 0.5s ease;

              .btn_content {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-pack: center;
                justify-content: center;
                margin: auto;
                overflow: hidden;

                .btn_label {
                  font-family: 'Suisse', sans-serif;
                  font-weight: 600;
                  font-size: 1.4rem;
                  line-height: 1.1;
                  color: #212121;
                  -ms-flex-negative: 0;
                  flex-shrink: 0;
                }
              }
            }
            .provider_disclaimer_wrapper {
              max-width: 370px;
              .company_logos {
                color: #bcbbb4;
                -ms-flex-align: center;
                align-items: center;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -ms-flex-pack: start;
                justify-content: flex-start;
                list-style: none;
                margin: 0 0 5px;
                padding: 0;

                @media (min-width: 1025px) {
                  font-size: 1.5rem;
                }
                @media (min-width: 640px) {
                  font-size: 1.4rem;
                }
                .company_logo {
                  padding-right: 18px;

                  @media (min-width: 1025px) {
                    font-size: 1.5rem;
                  }
                  @media (min-width: 640px) {
                    font-size: 1.4rem;
                  }

                  svg {
                    height: 10px;
                    width: auto;

                    path {
                      fill: #bcbbb4;
                    }
                  }
                }
              }
            }
          }
        }
      }

      // MOBILE
      .mobile_cart_summary_wrapper {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-bottom: 237px;

        .mobile_cart_summary_promo {
          border-bottom: 1px solid rgba(255, 254, 242, 0.1);
          display: flex;
          justify-content: space-between;
          margin-left: 20px;
          padding: 10px 20px 30px 0;

          .mobile_cart_summary_promo_btn {
            width: 100%;

            .mobile_cart_summary_promo_btn_wrapper {
              align-items: center;
              display: flex;
              justify-content: space-between;
              width: 100%;

              .mobile_cart_summary_promo_label {
                font-size: 1.5rem;
                line-height: 1.2;
                font-family: 'Suisse', sans-serif;
                font-weight: 600;
                color: #bcbbb4;
                transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
                margin: 0;
                padding: 0;
              }

              .mobile_cart_summary_promo_btn_icon_wrapper {
                .mobile_cart_summary_promo_btn_icon {
                  display: block;
                  height: 22px;
                  width: 22px;

                  .mobile_cart_summary_promo_btn_icon_circle {
                    fill: transparent;
                    stroke: #bcbbb4;
                    stroke-width: 3px;
                    transition: fill 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
                      stroke 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
                  }
                  .mobile_cart_summary_promo_btn_icon_poly {
                    fill: #999;
                    stroke: #999;
                    stroke-width: 2px;
                    transition: fill 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
                      stroke 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
                  }
                }
              }
            }
          }
        }

        .mobile_cart_summary_shipping {
          // MARGIN AUTO NOT WORKING
          margin-top: auto;
          padding: 25px 20px;

          .mobile_cart_summary_shipping_notice {
            overflow: hidden;
            color: #bcbbb4;
            font-size: 1.2rem;
            font-family: 'Suisse', sans-serif;
          }
        }

        .mobile_cart_summary_row {
          background-color: #252525;
          border-top: 1px solid rgba(255, 254, 242, 0.1);
          bottom: 0;
          left: 0;
          max-width: 100vw;
          padding: 20px;
          position: fixed;
          right: 0;
          margin-top: auto;

          // NOTICE SECTION
          .mobile_cart_summary_notice {
            margin-bottom: 25px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            padding: 0px;
            border-bottom: none;

            span {
              font-family: 'Suisse', sans-serif;
              color: #bcbbb4;
              font-size: 1.2rem;
              font-weight: 500;
            }
          }
          // SUBTOTAL SECTION
          .mobile_cart_summary_item {
            margin-bottom: 25px;
            border-bottom: none;
            display: flex;
            justify-content: space-between;

            .mobile_cart_summary_subtotal_label {
              font-size: 1.5rem;
              line-height: 1.2;
              font-family: 'Suisse', sans-serif;
              color: #bcbbb4;
              margin: 0;
              padding: 0;
            }

            .mobile_cart_summary_subtotal {
              font-size: 2.5rem;
              line-height: 1;
              font-family: 'Suisse', sans-serif;
              overflow: hidden;
              font-weight: 500;
            }
          }
          // CHECKOUT SECTION
          .mobile_cart_summary_checkout_wrapper {
            .mobile_cart_summary_checkout_btn {
              width: 100%;
              background-color: #eaeadf;
              margin-bottom: 25px;
              border: 1px solid rgba(51, 51, 51, 0.2);
              height: 60px;
              min-width: 210px;
              padding: 21px 23px;
              position: relative;
              transition: all 0.5s ease;

              .mobile_btn_content {
                display: flex;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-pack: center;
                justify-content: center;
                margin: auto;
                overflow: hidden;

                .mobile_btn_label {
                  font-family: 'Suisse', sans-serif;
                  font-weight: 600;
                  font-size: 1.4rem;
                  line-height: 1.1;
                  color: #212121;
                  -ms-flex-negative: 0;
                  flex-shrink: 0;
                }
              }
            }
            .mobile_provider_disclaimer_wrapper {
              max-width: 370px;
              .mobile_company_logos {
                color: #bcbbb4;
                -ms-flex-align: center;
                align-items: center;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -ms-flex-pack: start;
                justify-content: flex-start;
                list-style: none;
                margin: 0 0 5px;
                padding: 0;

                .mobile_company_logo {
                  padding-right: 18px;

                  svg {
                    height: 10px;
                    width: auto;

                    path {
                      fill: #bcbbb4;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
