.main {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 254, 242);
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  font-family: Suisse Regular, sans-serif;
  min-height: 100%;
}
