.empty_cart_container {
  position: relative;
  z-index: 1300;
  top: 0;
  left: 0;
  height: 80px;

  .empty_cart {
    //     opacity: 0;
    // transform: translateY(-100%);
    align-items: center;
    background-color: #252525;
    color: #fffef2;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    left: 0;
    opacity: 1;
    padding: 20px;
    position: absolute;
    top: 0;
    transform: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;

    @media (min-width: 640px) {
      padding: 20px 34px;
    }
    @media (min-width: 1025px) {
      padding: 20px 40px;
    }
    .empty_cart_alert_wrapper {
      color: #fffef2;
      cursor: pointer;
      .empty_cart_alert {
        font-family: 'Suisse', sans-serif;
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 600;
      }
    }
  }
}

.nav {
  font-size: 1.4rem;
  font-family: 'Suisse';
  font-weight: 600;
  color: #333333;
  display: flex;
  flex: 0;
  justify-content: space-between;
  padding: 0 40px;
  white-space: nowrap;
  height: 80px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80px, 0 80px);
  pointer-events: auto;

  @media (max-width: 1025px) {
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 34px;
  }

  @media (max-width: 640px) {
    border-bottom: 0px;
    padding: 0px;
  }

  .nav_left,
  .nav_right {
    pointer-events: none;

    transform: translateX(-5px);
    overflow: hidden !important;

    ul {
      transform: translateY(-1px);
      display: flex;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
      pointer-events: auto;

      li {
        display: flex;
        height: 80px;

        align-items: center;
        border-bottom: 2px solid transparent;
        margin-right: 1.3vw;
        pointer-events: auto;

        &:last-child {
          margin-right: 0;
        }

        .search {
          // To fix position
          transform: translateY(3px);

          @media (max-width: 1025px) {
            transform: translateY(2px);
          }
        }

        a,
        button {
          cursor: pointer;
          padding: 4px;
          color: #333;

          @media (max-width: 1025px) {
            padding: 5px;
          }
        }
      }
    }
  }

  .nav_right {
    // To fix position
    transform: translateX(5px);

    .cart_items {
      margin-left: 10px;
    }
  }
}

.logo {
  box-sizing: content-box;
  padding: 5px;
  top: 222px;
  left: 40px;
  position: absolute;
  z-index: 20;
  pointer-events: auto;

  transform: translateX(-5px);
  display: inline-block;
  font-family: 'Suisse Regular', sans-serif;
  font-size: inherit;
  font-weight: 400;
  outline: none;
  text-decoration: none;

  @media (max-width: 1025px) {
    top: 207px;
    left: 34px;
  }
}

// TODO
.nav > .nav_mobile_wrapper {
  width: 100vw;
  padding: 0px;

  .nav_mobile {
    display: flex;
    height: 80px;

    align-items: center;

    justify-content: space-between;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    overflow: hidden !important;

    li {
      overflow: hidden !important;
      margin: 0px 12px;
      box-sizing: border-box;

      &:first-child {
        flex-grow: 1;
        margin-left: 0 !important;
        transform: translate(-5px, 1px);
      }

      &:last-child {
        margin-left: 7px !important;
        margin-right: 0 !important;
      }

      .logo_mobile {
        padding: 5px;
        width: 70px;
        height: 22px;
        color: #333;
        text-align: center;

        svg {
          height: 22px;
          width: 70px;
        }
      }

      .mobile_search {
        padding: 5px;
        height: 16px;
        width: 16px;

        svg {
          transform: translate(5px, 1px);
        }
      }

      .mobile_menu {
        box-sizing: content-box;
        padding: 5px;
        transform: translate(7px, 0px);

        .icon {
          left: 51px;
          width: 22px;
          height: 22px;
        }
      }

      .mobile_cart {
        transform: translate(5px, -1px);
        padding: 5px;
        .cart_items_mobile {
          margin-left: 10px;
        }
      }
    }
  }
}
