.nav {
  font-size: 1.4rem;
  font-family: 'Suisse';
  font-weight: 600;
  color: #333333;
  display: flex;
  flex: 0;
  justify-content: space-between;
  padding: 0 40px;
  white-space: nowrap;
  height: 80px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80px, 0 80px);
  pointer-events: auto;

  @media (max-width: 1025px) {
    font-weight: 500;
  }

  .nav_left,
  .nav_right {
    pointer-events: none;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);

    ul {
      transform: translateY(-1px);
      display: flex;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
      pointer-events: auto;

      li {
        display: flex;
        height: 80px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 2px solid transparent;
        margin-right: 1.3vw;
        pointer-events: auto;

        &:last-child {
          margin-right: 0;
        }

        .search {
          // To fix position
          transform: translateY(3px);
        }

        a,
        button {
          cursor: pointer;
          padding: 4px;
          color: #333;
        }
      }
    }
  }

  .nav_right {
    button:last-child {
      padding-right: 0px;
    }

    .cart_items {
      margin-left: 10px;
    }
  }
}

.logo {
  box-sizing: content-box;
  padding: 5px;
  top: 222px;
  left: 40px;
  position: absolute;
  z-index: 20;
  pointer-events: auto;
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
  display: inline-block;
  font-family: 'Suisse Regular', sans-serif;
  font-size: inherit;
  font-weight: 400;
  outline: none;
  text-decoration: none;
}
