.product_container {
  min-height: 85vh;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  @media (min-width: 640px) {
    padding-top: 100px;
    padding-right: 34px;
    padding-bottom: 40px;
    padding-left: 34px;
  }
  @media (min-width: 1025px) {
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
  }
  @media (min-width: 1220px) {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: 'Suisse', sans-serif;
    font-size: 1.6rem;
    min-height: 85vh;
    padding: 120px 0px;
  }

  .product_wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 1025px) {
      display: flex;
      flex-direction: row-reverse;
    }

    // DETAILS
    .product_details_wrapper {
      @media (min-width: 1025px) {
        width: calc(100% * 5 / 12);
        max-width: 470px;
      }
      @media (min-width: 1220px) {
        width: calc(100% * 3 / 12);
        margin-right: calc(100% * 1 / 12);
      }

      .breadcrumbs {
        overflow: hidden;
        margin-bottom: 25px;

        @media (min-width: 1025px) {
          max-width: 470px;
          margin-top: 0;
        }
        ul {
          // Fix position
          transform: translateY(1px);
          padding: 0 !important;
          margin: 0 !important;
          list-style-type: disc;
          list-style: none;
          li {
            height: 100%;
            display: inline-block;
            padding: 0;
            &:last-child::before {
              overflow: hidden;
              color: #333;
              display: inline-block;
              padding: 0 10px;
              content: '\2022';
              font-size: 14px;
              line-height: 1;

              @media (max-width: 1219px) {
                font-size: 20px;
                transform: translateY(2px);
              }
            }
            a {
              transform: translateY(1px);
              overflow: hidden;
              display: inline-block;
              font-size: 14px;
              color: #333;
              font-family: 'Suisse', sans-serif;
              font-weight: 500;
              border-bottom: 1px solid transparent;
              transition: border-bottom 250ms
                  cubic-bezier(0.215, 0.61, 0.355, 1),
                -webkit-transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

              &:hover {
                border-bottom: 1px solid #333;
              }
            }
          }
        }
      }

      .product_details {
        display: flex;
        font-family: 'Suisse', sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;

        @media (min-width: 1025px) {
          max-width: 470px;
        }

        .product_details_inner_mobile {
          @media (min-width: 640px) and (max-width: 1024px) {
            width: 50%;
            padding-right: 20px;
          }
          header {
            position: relative;
            display: flex;
            flex-direction: column;
            order: 1;

            h1 {
              color: #333;
              transform: translateY(-5px);
              font-family: 'Suisse', sans-serif;
              font-weight: 500;
              margin-top: 0;
              font-size: 24px;
              line-height: 1.33;
              margin-bottom: 10px;
              margin-left: 0px;
              margin-right: 0px;
              margin-top: 0px;
              padding: 0px;

              @media (min-width: 640px) {
                font-size: 26px;
              }

              @media (min-width: 1025px) {
                margin-bottom: 15px;
                font-size: 30px;
              }
            }

            p {
              margin: 0;
              font-size: 14px;
              line-height: 1.6;
              padding: 0;
            }
          }
        }

        .product_details_inner {
          box-sizing: border-box;
          display: flex;
          width: 100%;
          flex-direction: column;

          @media (min-width: 640px) and (max-width: 1024px) {
            width: 50%;
          }

          header {
            position: relative;
            display: flex;
            flex-direction: column;
            order: 1;

            h1 {
              color: #333;
              transform: translateY(-5px);
              font-family: 'Suisse', sans-serif;
              font-weight: 500;
              margin-top: 0;
              font-size: 24px;
              line-height: 1.33;
              margin-bottom: 10px;
              margin-left: 0px;
              margin-right: 0px;
              margin-top: 0px;
              padding: 0px;

              @media (min-width: 640px) {
                font-size: 26px;
              }

              @media (min-width: 1025px) {
                margin-bottom: 15px;
                font-size: 30px;
              }
            }
          }

          .product_details_description {
            order: 2;
            margin-bottom: 5px;

            @media (min-width: 640px) {
              order: 3;
            }

            @media (min-width: 1025px) {
              order: 2;
              transform: translateY(-5px);
            }

            p {
              margin-bottom: 10px;
              margin-top: 0;
              margin-left: 0;
              margin-right: 0;
              padding: 0;
              font-size: 16px;
              line-height: 1.7;
              color: #333333;
              font-family: 'Suisse', sans-serif;
              font-weight: 500;

              @media (min-width: 1025px) {
                margin-bottom: 0px;
                font-size: 14px;
                line-height: 1.4;
              }
            }
          }

          .product_details_details {
            order: 5;
            @media (min-width: 640px) {
              order: 2;
            }
            @media (min-width: 1025px) {
              transform: translateY(-10px);
              -webkit-box-ordinal-group: 4;
              order: 3;
            }

            dl {
              box-sizing: border-box;
              border-top: 2px solid #4a4a4a;
              padding-top: 24px;
              margin-top: 24px;
              margin-bottom: 24px;

              @media (min-width: 640px) {
                padding-top: 14px;
                margin-top: 24px;
                margin-bottom: 14px;
              }

              dt {
                box-sizing: border-box;
                font-size: 14px;
                font-family: 'Suisse', sans-serif;
                font-weight: 600;
                margin-bottom: 2px;
                color: #333;
                padding-top: 24px;
                line-height: 1.6;

                @media (min-width: 640px) {
                  padding-top: 14px;
                }

                &:first-child {
                  padding-top: 0;
                }

                button {
                  // position: absolute;
                  top: 14px;
                  right: 0;
                  outline: none;
                  box-sizing: border-box;
                  padding: 0;
                  border: 0;
                  appearance: none;
                  background-color: transparent;
                  cursor: pointer;
                  font-family: 'Suisse', sans-serif;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 1.4;
                  outline: none;
                  text-decoration: none;
                  float: right;
                }
              }

              dd {
                font-family: 'Suisse', sans-serif;
                line-height: 1.4;
                border-bottom: 0.8px solid #d5d4c9;
                padding-bottom: 24px;
                color: #666;
                align-items: center;
                display: flex;
                justify-content: space-between;
                margin-left: 0px;

                @media (min-width: 640px) {
                  padding-bottom: 14px;
                  line-height: 1.6;
                }

                &:last-child {
                  transform: translateY(-5px);
                }

                div > p {
                  margin: 0;
                  font-size: 14px;
                  font-weight: 500;
                }
              }
            }
          }

          .product_details_purchase {
            order: 3;
            // margin-bottom: 24px;

            @media (min-width: 640px) {
              order: 1;
              margin-bottom: 0;
            }

            @media (min-width: 1025px) {
              box-sizing: border-box;
              -webkit-box-ordinal-group: 5;
              order: 4;
              margin-bottom: 14px;
              transform: translateY(-15px);
            }

            h4 {
              font-family: 'Suisse', sans-serif;
              font-weight: 600;
              margin-bottom: 5px;
              font-size: 14px;
              line-height: 1.7;
              padding: 0;
              margin-top: 0;
              margin-left: 0;
              margin-right: 0;
            }

            ul {
              margin-bottom: 24px;
              justify-content: flex-start;
              display: flex;
              flex-wrap: wrap;
              font-size: 15px;
              padding: 0;
              line-height: 1.4;
              list-style: none;
              margin-top: -2px;

              @media (min-width: 1025px) {
                margin-bottom: 14px;
              }

              li {
                padding: 0;
                margin: 4px 0px;
                &:first-child {
                  margin-right: 25px;
                }

                label {
                  cursor: pointer;
                  font-family: 'Suisse', sans-serif;
                  font-size: 14px;
                  font-weight: 500;

                  input[type='radio'] {
                    position: fixed;
                    cursor: pointer;
                    opacity: 0;
                    padding: 0;
                    border: 0;
                    margin: 0;
                    line-height: 1.4;
                    outline: none;
                  }

                  .product_size {
                    color: #666666;
                    padding-left: 10px;
                  }

                  input[type='radio'] + .product_radio {
                    border-color: #666;
                    position: relative;
                    z-index: 1;
                    width: 13px;
                    height: 13px;
                    border-width: 1px;
                    border-style: solid;
                    background-color: transparent;
                    border-radius: 100%;
                    float: left;
                    transform: translateY(3px);
                  }

                  input[type='radio']:checked + .product_radio:after {
                    position: absolute;
                    top: 3px;
                    right: 3px;
                    bottom: 3px;
                    left: 3px;
                    display: block;
                    background-color: #666;
                    border-radius: 100%;
                    content: '';
                  }

                  input[type='radio']:hover + .product_radio:after {
                    background-color: #999;
                    position: absolute;
                    top: 3px;
                    right: 3px;
                    bottom: 3px;
                    left: 3px;
                    display: block;
                    border-radius: 100%;
                    content: '';
                  }
                }
              }
            }

            .product_add_cart {
              min-width: auto;
              max-width: 100%;
              padding: 20px 15px 20px;
              font-size: 14px;
              text-align: center;
              width: 100%;
              height: 60px;
              display: inline-block;
              border-width: 1px;
              border-style: solid;
              border-color: rgb(51, 51, 51);
              color: rgb(246, 245, 232);
              background-color: rgb(51, 51, 51);
              line-height: 1.4;
              outline: none;
              text-decoration: none;
              font-family: 'Suisse', sans-serif;
              font-weight: 600;

              @media (min-width: 1025px) {
                max-width: 470px;
              }

              &:hover {
                background-color: #000;
                color: #f6f5e8;
                transition: all 0.5s ease-in-out;
              }

              span {
                display: block;
                overflow: hidden;
                height: 16px;
                line-height: 1;
                opacity: 1;
              }
            }
          }

          .product_details_upsell {
            order: 6;
            margin-bottom: 24px;
            transform: translateY(-15px);

            .product_details_upsell_inner {
              opacity: 1;
              width: 100%;
              padding: 0;
              margin: 0;
              list-style: none;
              transform: translateY(0);
              visibility: visible;

              .upsell_link {
                display: inline-block;
                width: 100%;
                text-align: left;
                color: #333;
                position: relative;
                display: inline-block;
                font-family: 'Suisse Regular', sans-serif;
                font-size: inherit;
                font-weight: 400;
                outline: none;
                text-decoration: none;

                .upsell_inner {
                  display: flex;
                  -webkit-box-pack: justify;
                  justify-content: space-between;
                  .upsell_inner_details {
                    margin-right: 20px;
                    text-align: left;
                    line-height: 1.4;

                    h4 {
                      margin-bottom: 2px;
                      color: #333;
                      font-family: 'Suisse', sans-serif;
                      font-size: 14px;
                      padding: 0;
                      margin-top: 0px;
                      margin-left: 0px;
                      margin-right: 0px;
                      font-weight: 600;

                      @media (max-width: 640px) {
                        line-height: 1.4;
                      }
                    }

                    .upsell_inner_balance {
                      color: #666;
                      position: relative;
                      padding-bottom: 14px;
                      margin-left: 0;
                      font-family: 'Suisse', sans-serif;

                      @media (max-width: 640px) {
                        padding-bottom: 18px;
                        line-height: 1.4;
                      }

                      div > span {
                        font-family: 'Suisse', sans-serif;
                        font-weight: 500;
                        border-bottom: 1px solid transparent;
                        transition: border-bottom 300ms
                          cubic-bezier(0.47, 0, 0.745, 0.715);
                        font-size: 14px;

                        text-align: left;

                        &:hover {
                          border-bottom: 1px solid #666;
                          transition: border-bottom 300ms
                            cubic-bezier(0.47, 0, 0.745, 0.715);
                        }

                        @media (max-width: 640px) {
                          padding-bottom: 18px;
                          line-height: 1.4;
                        }
                      }
                    }
                  }
                  .upsell_inner_image {
                    width: 130px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                      width: 100%;
                      height: auto;
                      padding: 0;
                      margin: 0;
                      text-align: center;
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    // IMAGE
    .product_image {
      overflow: visible;
      @media (min-width: 1025px) {
        transform: translateY(7px);
        align-self: center;
        width: calc(100% * 7 / 12);
      }

      @media (min-width: 1220px) {
        align-self: center;
        width: calc(100% * 4 / 12);
        transform: translateY(15px);
      }

      // MOBILE BREADCRUMBS
      .breadcrumbs {
        overflow: hidden;
        margin-bottom: 25px;
        margin-top: 16px;

        ul {
          padding: 0 !important;
          margin: 0 !important;
          list-style-type: disc;
          list-style: none;
          li {
            height: 100%;
            display: inline-block;
            padding: 0;
            &:last-child::before {
              overflow: hidden;
              color: #333;
              display: inline-block;
              padding: 0 10px;
              content: '\2022';
              font-size: 14px;
              line-height: 1;

              @media (max-width: 1219px) {
                font-size: 20px;
                transform: translateY(2px);
              }
            }
            a {
              transform: translateY(1px);
              overflow: hidden;
              display: inline-block;
              font-size: 14px;
              color: #333;
              font-family: 'Suisse', sans-serif;
              font-weight: 500;
              border-bottom: 1px solid transparent;
              transition: border-bottom 250ms
                  cubic-bezier(0.215, 0.61, 0.355, 1),
                -webkit-transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

              &:hover {
                border-bottom: 1px solid #333;
              }
            }
          }
        }
      }

      .product_image_inner {
        // Position Fix
        transform: translateY(-6px);

        @media (min-width: 1220px) {
          transform: translateY(-13px);
        }
        figure {
          overflow: hidden;
          width: 100%;
          height: 100%;
          margin: 0;
          picture {
            margin-bottom: 30px;
            overflow: hidden;
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 0;
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
            text-align: center;

            @media (min-width: 640px) and (max-width: 1024px) {
              margin-bottom: 50px;
            }

            @media (min-width: 1025px) {
              display: block;
              max-width: 440px;
              margin-right: auto;
              margin-left: auto;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              max-height: 200px;
              // Fix Position
              transform: translateY(5px);

              @media (min-width: 640px) {
                max-height: 300px;
              }
              @media (min-width: 1025px) {
                max-height: 500px;
              }
              @media (min-width: 1220px) {
                max-height: 600px;
              }
            }
          }
        }
      }
    }
  }
}
